# MacOS file system
.DS_Store

# Python
__pycache__/
*.pyc

# Testing
.pytest_cache/

# Module specific
.weac-reference/

# Ruff
.ruff_cache/

# Claude
.claude/

# Documentation
docs/sphinx/_build/
docs/sphinx/_static/
docs/sphinx/_templates/
docs/sphinx/_static/
